TINA_PUBLIC_IS_LOCAL=false

# Github credentials for onPut and onDelete
GITHUB_PERSONAL_ACCESS_TOKEN=replace_with_token

# Required when building locally
GITHUB_OWNER=replace_with_owner
GITHUB_REPO=tina-self-hosted-ssg-demo
GITHUB_BRANCH=main

# Used by NextAuth.js to encrypt JWT
NEXTAUTH_SECRET=replace_with_jwt_secret
NEXTAUTH_URL=http://localhost:3000/api/tina

# Used by Vercel KV
KV_REST_API_URL=
KV_REST_API_TOKEN=

MONGO_INITDB_ROOT_PASSWORD=replace_with_root_password
MONGO_INITDB_ROOT_USERNAME=replace_with_root_username
MONGO_INITDB_DATABASE=officedb
# MONGODB_HOST=0.0.0.0
MONGODB_HOST=replace_with_hostname
MONGODB_PORT=27017
MONGODB_URI="mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/?directConnection=true&authSource=admin&appName=officetinacms"
